[Unit]
Description=Sleep service
ConditionPathExists=/home/ubuntu/work/src/pexservice/pexservice
After=network.target
 
[Service]
Type=simple
User=pexservice
Group=pexservice
LimitNOFILE=1024

Restart=on-failure
RestartSec=2
startLimitIntervalSec=60

WorkingDirectory=/home/prosper/pex/pexservice
ExecStart=/home/prosper/pexservice/pexservice 8080

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/pexservice
ExecStartPre=/bin/chown syslog:adm /var/log/pexservice
ExecStartPre=/bin/chmod 755 /var/log/pexservice
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pexservice

[Install]
WantedBy=multi-user.target
